.input-wrapper:has(input[type="search"]) {
    height: 48px;
    position: relative;
    overflow: hidden;
}

input[type="search"] {
    padding-right: 55px;
}

.svg-wrapper {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 12px;
    height: 100%;
    background-color: var(--red);
    border-radius: 3px 10px 10px 3px;
}

.svg-wrapper > svg {
    width: 100%;
    height: 100%;
}

.input-wrapper > input[type="search"] + label {
    pointer-events: none;
}