.stars {
    display: flex;
    gap: 6px;
    padding-inline: 10px;
    padding-block: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.stars > li {
    height: 32px;
}

.stars svg {
    width: 32px;
    cursor: pointer;
}

.colored {
    fill: var(--gold);
}

.neutral {
    fill: var(--light-grey);
}