.notification {
    position: fixed;
    left: 8vw;
    right: 8vw;
    bottom: 10vh;
    padding: 12px 15px 18px 15px;
    color: var(--white);
    background-color: var(--red);
    border-radius: 12px;
    text-align: center;
    z-index: 4000;
}

.notification > span {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.error {
    background-color: var(--red);
}

.success {
    background-color: var(--success);
}

.information {
    background-color: var(--information);
}

.warning {
    background-color: var(--warning);
}


@media all and (min-width: 1024px) {

    .notification {
        left: 50%;
        transform: translateX(-50%);
    }
}