.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    text-align: center;
    overflow: hidden;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover > .text {
    position: absolute;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.cover > h1.text {
    font-style: italic;
    font-size: 3rem;
    font-weight: 500;
}
