.lock-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 24px;
}
.hint-link {
    display: block;
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
}

.hint-link > a {
    font-weight: 700;
    font-style: italic;
    color: var(--information-color);
}