.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-inline: 14px;
    padding-block: 10px 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mint);
    height: 60px;
    z-index: 100;
}

.nav-icon {
    display: inline-block;
    height: 32px;
    width: 32px;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--white);
}

.nav-icon svg {
    width: 24px;
}

.nav-icon.user-profile {
    position: relative;
}

.nav-icon.user-profile > .badge {
    bottom: -4px;
    right: 4px;
}

@media all and (min-width: 1024px) {

    .nav-bar {
        width: 1024px;
    }
}