.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 14px;
    padding-block: 10px 14px;
    position: fixed;
    bottom: 0;
    background-color: #4FB286;
    height: 70px;
}

.nav-icon {
    width: 10vw;
    height: fit-content;
    max-width: 36px;
    height: 10vw;
    padding: 4px 4px 0px 4px;
    border-radius: 5px;
    border: 2px solid #F2F2F2;
    background-color: var(--white);
}