@keyframes labelMovingUp {
    0% {
        top: 0;
        left: 15px;
    }
    
    100% {
        top: -30px;
        left: 5px;
        font-size: 0.9rem;
        background-color: transparent;
    }
}

.input-filled > label {
    animation: labelMovingUp 0.6s forwards;
}

label {
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

input:not([type="checkbox"]) {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 10px;
}

input:not([type="checkbox"]):focus {
    outline: 2px solid #4FB286;
    transition: all 0s 0.3s;
}

input[type="checkbox"] + label {
    position: static !important;
}

input:not([type="checkbox"]) {
    background-color: var(--white);
}

input:not([type="checkbox"]):focus + label {
    animation: labelMovingUp 0.6s forwards;
}

input[type="date"] + label {
    background-color: var(--white);
}

input[type="checkbox"] {
    aspect-ratio: 1 / 1;
}

input[type="date"]:focus + label {
    background-color: transparent;
}