.session-form {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 720px;
    margin: auto;
    background-color: #F2F2F2;
}

.session-form > form {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 40px 8vw 30px 8vw;
}

.session-form > form > input {
    margin: 0;
}

.session-form > form input:not([type="checkbox"]):focus {
    outline: 2px solid var(--sand);
}

.submit-form {
    padding: 15px 60px;
    width: auto;
}

.policies-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 15px;
    border-radius: 10px;
    padding: 12px 0 12px 12px;
    margin-top: -15px;
    background-color: var(--white);
}

.policies-wrapper input {
    margin: none;
    width: 1.3rem;
    grid-column: 2;
    grid-row: 1;
}

.policies-wrapper label {
    grid-row: 1;
}

.session-form .dropdown {
    margin-top: -10px;
}

.bar-state {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: absolute;
    top: 36vh;
    left: 0;
    z-index: 5;
}

.bar-state > button {
    padding: 20px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-yellow);
    background-color: var(--sand);
}

.bar-state > button:first-of-type {
    border-radius: 10px 10px 10px 0;
}

.bar-state > button:last-of-type {
    border-radius: 10px 10px 0 10px;
}

.bar-state > .filler-beige {
    grid-column: 1 / -1;
    width: 100%;
    height: 5vh;
    margin-top: -5vh;
    background-color: var(--light-yellow);
    z-index: -1;
}

button.active-page {
    color: var(--sand);
    background-color: var(--light-yellow);
}

.active-page {
    border-radius: 10px 10px 0 0;
}


@media all and (min-width: 1024px) {

    .bar-state {
        max-width: 1024px;
        left: 50%;
        transform: translateX(-50%);
    }

    .session-form > form {
        width: 720px;
    }
}