.recipe-builder {
    padding-inline: 30px;
    padding-block: 40px;
}

.recipe-builder > form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 42px;
    padding-block: 50px;
}

select, option {
    font-size: 1rem;
    padding-block: 12px;
    padding-inline: 10px;
}

.is-vegan-wrapper {
    display: grid;
    gap: 10px;
    width: 100%;
}

.is-vegan-wrapper > p {
    width: 100%;
}

.define-vegan {
    display: grid;
    gap: 10px;
    padding: 15px;
    position: relative;
    background-color: var(--white);
    border: 2px solid var(--dark-grey);
    border-radius: 5px;
}

.dropdown-padding > p:first-of-type {
    padding-bottom: 12px;
}