.recipe-builder {
    position: relative;
    padding-inline: 30px;
    padding-block: 40px;
}

.recipe-builder > form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 42px;
    padding-block: 80px 50px;
}

select, option {
    font-size: 1rem;
    padding-block: 12px;
    padding-inline: 10px;
}

.is-vegan-wrapper {
    display: grid;
    gap: 10px;
    width: 100%;
}

.is-vegan-wrapper > p {
    width: 100%;
}

.define-vegan {
    display: grid;
    gap: 10px;
    padding: 15px;
    position: relative;
    background-color: var(--white);
    border: 2px solid var(--dark-grey);
    border-radius: 5px;
}

.dropdown-padding > p:first-of-type {
    padding-bottom: 12px;
}

.file-input-wrapper {
    width: fit-content !important;
    margin: auto;
}

.file-input-wrapper {
    padding: 30px 0;
}

.file-input-wrapper > label > svg {
    transform: scale(2);
}
        
.file-input-wrapper::after {
    padding-left: 20px;
    content: "Ajouter une image (obligatoire)";
}

.drafts-box {
    position: absolute;
    top: 100px;
    right: 30px;
    width: fit-content;
    cursor: pointer;
    border-radius: 7px;
    overflow: hidden;
}

.drafts-box > h3 {
    padding: 7px;
    height: fit-content;
    color: var(--white);
    background-color: var(--blue);
}

.drafts-box.open {
    z-index: 10;
    position: absolute;
    left: 50%;
    right: 50%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    transform: translateX(-50%);
    background-color: var(--white);
    color: var(--black);
    border: 3px solid var(--blue);
}

.drafts-box.open > h3 {
    background-color: var(--red);
    transition: background-color 2s;
}

.drafts-box.open > .close-wrapper {
    opacity: 1;
    transition: opacity 2s;
}

.drafts-box > .close-wrapper {
    opacity: 0;
}

.drafts-box.open > ol {
    padding-block: 40px;
}

.drafts-box.open > ol > li {
    font-weight: 500;
}

@media all and (min-width: 1024px) {

    .recipe-builder > form > .input-wrapper, 
    .recipe-builder > form > .select-wrapper,
    .recipe-builder > form > .textarea-wrapper,
    .recipe-builder textarea,
    .recipe-builder .steps {
        width: 635px;
        margin: auto;
    }

    .recipe-builder #step {
        height: 120px;
    }

    .recipe-builder #description {
        height: 140px;
    }

    .recipe-builder > form > button {
        width: auto;
        border-radius: 15px;
        font-size: 1.2rem;
    }      

    .file-input-wrapper::after {
        padding-left: 30px;
        content: "Ajouter une image (obligatoire)";
    }
         
    .file-input-wrapper > label > svg {
        transform: scale(3);
    }

    .drafts-box {
        right: 19%;
    }

    .drafts-box.open {
        width: 60%;
    }

    
}