@keyframes dilation {
    0%, 60%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-block: 30px 90px;
    padding-inline: 30px;
}

.content-wrapper > .home-recipe {
    display: grid;
    gap: 30px;
}

.content-wrapper > .home-recipe > h2 {
    width: auto;
    margin: auto;
    padding: 12px 16px;
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 8px;
}

.recent-article {
    max-height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.recent-article > h2 {
    position: absolute;
    top: 0;
    right: 0;
    padding-block: 6px;
    padding-inline: 10px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
}

.recent-recipe {
    position: relative;
}

.recent-recipe > p {
    display: flex;
    flex-direction: row;
    gap: 1px;
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 90%;
    color: #FF5733 ;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: end;
    line-height: normal;
    border-bottom: 2px solid;
    z-index: 2;
}

.recent-recipe > p > span {
    display: inline-block;
    
}

.recent-recipe > p > span:first-of-type {
    animation: dilation 1.3s infinite ease-in-out;
}

.recent-recipe > p > span:nth-child(2) {
    animation: dilation 1.3s 0.3s infinite ease-in-out;
}

.recent-recipe > p > span:nth-child(3) {
    animation: dilation 1.3s 0.6s infinite ease-in-out;
}