@keyframes opacitySwitch {
    0%, 60%, 100% {
        opacity: 1;
    }
    30% {
        opacity: 0.4;
    }
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-block: 30px 90px;
    padding-inline: 30px;
}

.content-wrapper > .home-recipe {
    display: grid;
    gap: 30px;
}

.content-wrapper > .home-recipe > h2 {
    width: auto;
    margin: auto;
    padding: 4px 8px;
    color: var(--black);
    background-color: var(--white);
    font-weight: 500;
    border: 2px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
}

.recent-article {
    max-height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.recent-article > h2 {
    position: absolute;
    top: 0;
    right: 0;
    padding-block: 6px;
    padding-inline: 10px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    cursor: pointer;
}

.recent-recipe {
    position: relative;
}

.recent-recipe > p {
    display: flex;
    position: absolute;
    bottom: 65px;
    right: 10px;
    max-width: 90%;
    color: var(--white) ;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: end;
    line-height: normal;
    z-index: 2;
    animation: opacitySwitch 1s infinite;
}

.no-recipe-found {
    text-align: center;
}

@media all and (min-width: 1024px) {

    .recent-recipe > p {
        bottom: 40px;
    }
}