.profile-page {
    margin: auto;
    text-align: center;
    padding-block: 30px 90px;
    padding-inline: 30px;
}

.profile-page > h1 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.picture-container {
    width: 50vw;
    position: relative;
}

.picture-container > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 500px;
    border: 4px solid var(--mint);
}

.picture-container .profile-badge {
    width: 24px;
    aspect-ratio: 1/1;
}

.icon-wrapper {
    position: absolute;
    bottom: 3vh;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: var(--alt-white);
    border-radius: 100px;
    border: 3px solid var(--mint);
}

.icon-wrapper.account {
    right: 0;
}

.icon-wrapper.picture {
    left: 0;
    background-color: var(--white);
    border-color: var(--dark-grey);
}

.icon-wrapper.premium {
    background-color: var(--black);
    border-color: var(--gold);
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    padding-block: 40px;
}

.profile-form > a {
    font-style: italic;
    color: blueviolet;
}

.submit-button {
    margin-top: 40px;
}

.user-recipes, .no-recipe {
    display: grid;
    gap: 10px;
    padding-block: 10px;
    font-size: 1.05rem;
    width: 100%;
    max-width: 482px;
    color: var(--blue);
    background-color: var(--white);
    border-radius: 5px;
}

.user-recipes > ol {   
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
    padding-inline: 8px;
    line-height: normal;
}

.user-recipes > ol > li, .no-recipe > .redirect {
    padding-block: 8px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    font-weight: 500;
}

.no-recipe {
    background-color: transparent;
    padding-inline: 10px;
}

.no-recipe > h2 {
    font-weight: 500;
}

.no-recipe > .redirect {
    font-size: 1.1rem;
    padding-inline: 8px;
    padding-block: 12px;
}

@media all and (min-width: 1024px) {
    
    .profile-page > h1 {
        font-size: 2.4rem;
        padding-bottom: 30px;
    }
    
    .picture-container {
        width: 35%;
    }
    
    .picture-container > img {
        border: 5px solid var(--mint);
    }

    .profile-form {
        width: 50%;
        margin: auto;
        gap: 50px;
        padding-block: 60px 40px;
    }

    .icon-wrapper {
        bottom: 12%;
        transform: scale(1.2);
    }
 
    .icon-wrapper.account {
        right: 7%;
    }

    .icon-wrapper.picture {
        left: 7%;
    }
} 