.recipe-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 30px 90px;
    padding-inline: 30px;
    color: var(--black);
    background-color: var(--alt-white);
    font-family: 'Open Sans', sans-serif;
}

.recipe-item > .img-name-wrapper {
    display: grid;
    position: relative;
}

.recipe-item > .img-name-wrapper > h1 {
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: center;
    padding-block: 8px;
    padding-inline: 6px;
    font-family: 'Playfair Display', serif;
    color: var(--gold);
    background-color: var(--black);
    border-radius: 0 0 10px 10px;
}

.recipe-item h2 {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    padding-block: 10px;
    border-radius: 10px;
}

.recipe-item > .img-name-wrapper > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.display-description {
    background-color: var(--white);
    padding: 12px 15px;
    color: var(--black);
    border-radius: 10px;
    font-size: 1.05rem;
}

.display-ingredients {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-block: 7px;
    border-radius: 5px;
}

.display-ingredients > h2 > span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-grey);
}

.display-ingredients > ul {
    display: grid;
    gap: 5px;
    border-radius: 5px;
    line-height: 1.4rem;
}

.display-ingredients > ul > li {
    width: 100%;
    padding-inline: 10px;
    padding-block: 11px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 5px;
}

.display-ingredients > ul span {
    display: inline-block;
    font-weight: 700;
}

.instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 2px 5px;
    background-color: var(--white);
    border: 2px solid;
    border-radius: 10px;
}

.display-steps {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 5px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 5px;
}

.display-steps > li {
    padding-block: 12px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
}

.display-steps > li span {
    font-weight: 700;
    height: 100%;
}

.display-steps > li > p {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
}

.recipe-item > .display-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: -10px 0 0 0;
    width: calc(100% - 80px);
}

.recipe-item > .display-tags > span {
    display: block;
    width: auto;
    white-space: nowrap;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.recipe-item > .display-tags > span::after {
    content: " - ";
}

.recipe-item > .display-tags > span:last-of-type::after {
    content: "";
}

.rating {
    background-color: var(--white);
    border-radius: 5px;
    transform: scale(0.9);
}

.icon-btn {
    display: flex;
    gap: 10px;
}

.icon-btn > div {
    padding: 5px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
}

.icon-btn > div > svg {
    width: 100%;
    height: 100%;
}

.edit {
    background-color: var(--blue);
}

.delete {
    background-color: var(--red);
}

.icon-btn > .time {
    width: 30px;
    height: 30px;
    padding: 3px;
    background-color: var(--success);
}

.duration-wrapper {
    width: 100%;
    position: relative;
}

.display-duration {
    position: absolute;
    right: 0;
    padding-block: 4px;
    padding-inline: 4px;
    color: var(--dark-grey);
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.duration-wrapper > .icon-btn {
    gap: 4px;
}

.display-duration span {
    font-weight: 700;
}

.display-duration span::after {
    content: "\"";
}

@media all and (min-width: 1024px) {

    .recipe-item > .display-tags {
        margin-top: -20px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        gap: 10px;
    }

    .recipe-item > .display-tags > span {
        padding-block: 9px;
        padding-inline: 16px;
        border-radius: 50px;
        color: var(--white);
        background-color: var(--warning);
    }
  
    .recipe-item > .display-tags > span::after {
        content: "";
    }

    .display-duration span::after {
        content: " minutes";
    }
}