.search:has(.filters) {
    padding-bottom: 60px;
}

.search:has(.filters) > * {
    padding-inline: 30px;
}

.search > .filters {
    background-color: var(--light-grey);
    padding-block: 30px;
}

.search > .results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 30px;
}

.results > h2 {
    font-size: 1.3rem;
    color: var(--dark-grey);
    text-align: center;
}

@media all and (min-width: 1024px) {

    .filters > .input-wrapper {
        margin: auto;
        width: 50%;
    }

    .search > .results {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-block: 30px;
    }
    
    .results > h2 {
        font-size: 1.3rem;
        color: var(--dark-grey);
        text-align: center;
    }
}