div.badge {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
}

.badge.green {
    background-color: var(--mint);
}

.badge.red {
    background-color: var(--red);
}

.badge.blue {
    background-color: var(--blue);
}

.badge.golden {
    background-color: var(--gold);
}