div.badge {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
    top: 13px;
    right: 4px;
}

.badge.green {
    background-color: var(--mint);
}

.badge.red {
    background-color: var(--red);
}

.badge.blue {
    background-color: var(--blue);
}

.badge.golden {
    background-color: var(--gold);
}