.register-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 720px;
    margin: auto;
}

.register-container > form {
    display: flex;
    flex-direction: column;
    gap: 45px;
    min-height: 315px;
    padding: 0 8vw 30px 8vw;
}

.register-container > form > input {
    margin: 0;
}

.register-container > form > input:focus {
    outline: solid var(--main-color);
}

.register-container > form > button {
    padding: 15px 60px;
    width: auto;
}

.policies-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 15px;
    border-radius: 10px;
    padding: 12px 0 12px 12px;
    margin-top: -15px;
    background-color: var(--white);
}

.policies-wrapper input {
    margin: none;
    width: 1.3rem;
    grid-column: 2;
    grid-row: 1;
}

.policies-wrapper label {
    grid-row: 1;
}

.register-container .dropdown {
    margin-top: -10px;
}

.switch-form {
    border-top: 3px solid #eaeaea;
    padding-top: 12vmin;
    width: 100%;
    font-size: 1.2rem;
    color: var(--white);
}

.switch-form > button {
    background-color: var(--secondary-color);
}