.register-container {
    padding: 30px 8vw;
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 720px;
    margin: auto;
}

.register-container > h1 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: normal;
    color: var(--main-color);
    text-align: center;
}

.register-container > form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 315px;
}

.register-container > form > input {
    margin: 0;
}

.register-container > form > input:focus {
    outline: solid var(--main-color);
}

.register-container > form > button {
    padding: 15px 60px;
    width: auto;
}

.accept-policies {
    display: grid;
    grid-template-columns: 1fr 1.8rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 10px ;
    border: 1px solid;
    border-radius: 5px;
}


.switch-form {
    border-top: 3px solid #eaeaea;
    padding-top: 12vmin;
    width: 100%;
    font-size: 1.2rem;
    color: var(--white);
}

.switch-form > button {
    background-color: var(--secondary-color);
}