.register-container {
    padding: 30px 8vw;
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 720px;
    margin: auto;
}

.register-container > h1 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    color: var(--main-color);
    text-align: center;
}

.register-container > form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 315px;
}

.register-container > form > input {
    margin: 0;
}

.register-container > form > input:focus {
    outline: solid var(--main-color);
}

.register-container > form > button {
    padding: 15px 60px;
    width: auto;
}

.register-container .policies-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: none;
    text-align: left;
}

.policies-wrapper input {
    width: 1.3rem;
}

.switch-form {
    border-top: 3px solid #eaeaea;
    padding-top: 12vmin;
    width: 100%;
    font-size: 1.2rem;
    color: var(--white);
}

.switch-form > button {
    background-color: var(--secondary-color);
}