.delete {
    padding: 5px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
}

.delete > svg {
    width: 100%;
    height: 100%;
}

.delete {
    cursor: pointer;
    background-color: var(--red);
}