.logout {
    width: fit-content;
    border-radius: 15px;
    background-color: var(--dark-grey);
}

.logo {
    position: absolute;
    top: 1vh;
    right: 1vh;
    max-width: 10vw;
    border-radius: 5px;
    z-index: 3;
}

@media all and (min-width: 1024px) {
    
    .logo {
        border-radius: 20px;
    }
}