:root {
	--main-color: #A663CC;
	--secondary-color: #232528;
	--dark-color: #080708;
	--white: #FFFFFF;
	--error-color: #FE4A49;
	--success-color: #7AC74F;
	--information-color: #1F487E;
	--warning-color: #FF8C42;
}

#root {
	max-width: 1920px;
	font-family: 'Varela Round', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
	margin: auto;
	background-color: #F2F2F2;
	overflow: hidden;
	width: 100vw;
	min-height: 100vh;
	scroll-behavior: smooth;
}

nav:hover {
    cursor: pointer;
}

* {
	box-sizing: border-box !important;
	margin: auto;
}