:root {
	--main-color: #A663CC;
	--secondary-color: #232528;
	--black: #181E25;
	--dark-grey: #3c3b3b;
	--light-grey: #d7d3d3;
	--white: #FFFFFF;
	--alt-white: #F2F2F2;
	--red: #FF4B3E;
	--success: #7AC74F;
	--information: #1F487E;
	--warning: #FF8C42;
	--mint: #4FB286;
	--blue: #00AFF5;
	--gold: #e6b422;
	--light-yellow: #F5F5DC;
	--sand: #C4AE78;
}

#root {
	max-width: 1920px;
	font-family: 'Varela Round', sans-serif;
	margin: auto;
	background-color: var(--alt-white);
	overflow: hidden;
	width: 100vw;
	min-height: 100vh;
	scroll-behavior: smooth;
}

nav:hover {
    cursor: pointer;
}

* {
	box-sizing: border-box !important;
	margin: auto;
}