:root {
	--main-color: #A663CC;
	--secondary-color: #232528;
	--dark-color: #080708;
	--white: #FFFFFF;
}

#root {
	max-width: 1920px;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	background-color: #F2F2F2;
	overflow: hidden;
	width: 100vw;
	min-height: 100vh;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box !important;
	margin: auto;
}