.ingredients {
    display: grid;
    gap: 5px;
    width: 100%;
    background-color: var(--light-grey);
    padding-block: 5px;
    padding-inline: 5px;
    border-radius: 10px;
}

.ingredients > li {
    list-style: inside;
    position: relative;
    background-color: var(--white);
    padding-inline: 4px 5px;
    padding-block: 12px;
}

ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ingredients > li > span {
    display: inline-block;
    width: calc(100% - 48px);
    margin-left: -8px;
}

.ingredients > li > .trash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.ingredients-list {
    display: grid;
    gap: 24px;
    padding-block: 15px;
    padding-inline: 12px;
    background-color: var(--grey);
    border: 2px solid var(--light-grey);
    border-radius: 8px;
}

.ingredients-list > h3 {
    width: fit-content;
    margin: auto;
    padding-inline: 6px;
    font-size: 1.1rem;
    color: var(--success);
    border-bottom: 2px solid var(--success);
}

.ingredients-list .trash {
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: var(--red);
    border-radius: 10px;
}

.trash > svg {
    width: 100%;
    height: 100%;
}

.check {
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: var(--success);
    border: 2px solid var(--white);
    border-radius: 12px;
}

.first-row {
    grid-template-columns: 1fr 48px;
    width: 100%;
}