.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 7px;
    padding-block: 8px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
}

.tags > h3 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    padding-bottom: 10px;
}